<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="object">
  <link
    name="object">
    <inertial>
      <origin
        xyz="7.0013E-18 4.55470635382238E-18 0.02"
        rpy="0 0 0" />
      <mass
        value="0.047485" />
      <inertia
        ixx="9.7035E-06"
        ixy="3.6189E-22"
        ixz="2.5849E-23"
        iyy="9.7035E-06"
        iyz="-2.5849E-23"
        izz="9.7035E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://rocr/meshes/object_red.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
        <texture
          filename="package://rocr/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://rocr/meshes/object_red.STL" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="object">
    <material>Gazebo/Red</material>
  </gazebo>
</robot>