<!-- Every launch file starts with this command -->
<launch> 

    <!-- Include helps you launch other launch files within this launch file-->
        <!-- For file tag, mention the gazebo_ros empty world's launch file -->
        <!-- For the arg name, give any name of your choice to this world -->
        <!-- for the value tag, provide the path to the world file that you downloaded -->
	<include file= "$(find gazebo_ros)/launch/empty_world.launch"> 
        <arg name="world_name" value="$(find rocr)/world/turtlebot3_house.world"/> 
        <arg name="paused" value="false"/>
    </include>
		

        <!-- Defining this param here helps you store all the urdf contents of robot+lidar into a single param name -->
        <!-- fill the command by adding in the path to your .xacro file the $ symbol below -->
        <!--  -->
    
	<param name= "robot_description" command="$(find xacro)/xacro --inorder $(find rocr)/urdf/rocr_integration.urdf.xacro" />
    <!-- Add in your robot name in the value tag -->
    <param name = "my_robot" value="rocr"/> 
	<arg name ="init_pose" value="-x -1.5 -y 0.5 -z 0.08 -R 0 -P 0 -Y 0"/>
    

    <!-- This command adds the controller variables you defined in the config file into ros's parameter list. Simply add the file name in the file tag -->
	<rosparam file="$(find rocr)/config/config_controllers.yaml" command="load"/>


	<!-- Node for publishing base footprint -->
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="false"/>
    </node>


    <!-- TF node that gives the static transformation between the world map and the base link of your robot. Change /base_link to the /root link name of your robot -->
    <node pkg="tf" type="static_transform_publisher" name="map_to_base" args="1 0 0 0 0 0 1 /map /dummy_link 10" />


    <!-- Controller spawner: Starts all the defined controllers with their configs. Just add your controller names defined in your config file into the args tag below   -->
    <!-- ********** CHECK THIS******* -->
    <node name="controller_spwaner" pkg="controller_manager" type="spawner" respawn="true"
    	output="screen" ns="/rocr" args="joint_state_controller controller_rear controller_f_l_wheel controller_f_r_wheel controller_left_arm controller_right_arm" />  


    <!-- A node to publish the robot states onto ros network -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>	


    <!-- A node to spawn the robot into gazebo's world file. Notice that the args has the param robot_description that you previously defined. This is how your robot's spec gets included.-->
   	<node
		name="spawn_model"
		pkg="gazebo_ros"
		type="spawn_model"
		args="$(arg init_pose) -param robot_description -urdf -model my_robot"
		output="screen"/>


	<!--Default node -->
	<node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" />

    <!-- RViz node-->
	<node name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find rocr)/config/config_file.rviz" />

    <group ns="object1">
        <node name="obj_spawner_red" pkg="gazebo_ros" type="spawn_model" args="-urdf -file $(find rocr)/urdf/object_red.urdf -model obj1 -x -2.15 -y 0.45 -z 0.08 -R 0 -P 0 -Y 1.57" />
    </group>
    <group ns="object2">
        <node name="obj_spawner_blue" pkg="gazebo_ros" type="spawn_model" args="-urdf -file $(find rocr)/urdf/object_blue.urdf -model obj2 -x -0.8 -y 2.45 -z 0.08 -R 0 -P 0 -Y 1.57" />
    </group>
    <group ns="object3">
        <node name="obj_spawner_green" pkg="gazebo_ros" type="spawn_model" args="-urdf -file $(find rocr)/urdf/object_green.urdf -model obj3 -x -4 -y 3.25 -z 0.08 -R 0 -P 0 -Y 1.57" />
    </group>
   


</launch>